EDITOR=nano

# Database
DB_NAME=
DB_USER=
DB_PASS=
DB_POOL=5
DB_HOST=127.0.0.1
DB_PORT=5432

# Secrets
SECRET_KEY_BASE=

# Rails options
RAILS_SERVE_STATIC_FILES=true
RAILS_LOG_LEVEL=info

# Puma options
RAILS_MAX_THREADS=5
RAILS_MIN_THREADS=5
RAILS_ENV=development
