.container-flouid
  %nav.navbar.navbar-expand-lg.bg-light
    .container
      %a.navbar-brand{:href => "/"}
        %h3 Your Logo
      %button.navbar-toggler{"aria-controls" => "navbarTogglerDemo02", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarTogglerDemo02", "data-bs-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarTogglerDemo02.collapse.navbar-collapse
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item
            %a.nav-link.active{"aria-current" => "page", :href => "#"} Member
          %li.nav-item
            %a.nav-link.active{:href => "#"} Courses
          %li.nav-item
            %a.nav-link.active{"aria-current" => "page", :href => "#"} Blog
          %li.nav-item
            %a.nav-link.active{"aria-current" => "page", :href => "#"} Event
        %form
          %a.btn.btn-outline-primary.mr-2{:href => "#"} Login
          %a.btn.btn-outline-success{:href => "#"} Become member
%p{:style => "color: green"}= notice
%h1 Projects
#projects
  - @projects.each do |project|
    = render project
    %p
      = link_to "Show this project", project
= link_to "New project", new_project_path
